release_tag:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:2025122115
  script:
    - pwd
    - /scripts/release-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
    - if: '$CI_COMMIT_TAG =~ /^release-all-[a-z]+$/'
  resource_group: deploy-prod

# called by curl post, could also be called manually but creating
# release-patch... is much easier
publish_pypi:
  stage: deploy
  image:
    name: python:alpine3.19
  script:
    # install base packages for publishing
    - pip install build==1.3.0 twine==6.2.0
    - echo "__version__ = \"$CI_COMMIT_TAG\"" > src/pve_cloud_test/_version.py # dynamic versioning
    - python3 -m build
    - python3 -m twine upload dist/* -u __token__ -p $PYPI_TOKEN # skip gitlab oidc twine feature with -u and -p flags
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver


# pipeline trigger if the upstream releases
py_pve_cloud_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:2025122115
  script:
    # write the new version
    - sed -i "s/^py-pve-cloud==.*$/py-pve-cloud==${PY_PVE_CLOUD}/" requirements.txt
    - /scripts/upstream-push.sh "Update py-pve-cloud version to $PY_PVE_CLOUD"
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


# call the pipeline for the release patch tag we just created above - not included in default pipelines
trigger_upstream_release_tag:
  stage: deploy
  image: alpine/curl:8.14.1
  script:
    - |
      curl --request POST \
        --form "token=${CI_JOB_TOKEN}" \
        --form "ref=${UPSTREAM_TAG_MESSAGE}" \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/trigger/pipeline"
  rules:
    - if: $UPSTREAM_TAG_MESSAGE =~ /-all-/ && ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream
