release:
  stage: deploy
  image:
    name: python:alpine3.19
  script:
    # exit if ci vars are not defined for building
    - |
      if [ -z $PYPI_TOKEN ]; then
        echo "Pypi token ci variable not defined!"
        exit 0
      fi
    # fetch the version
    - export PY_PKG_VERSION=$(grep -E '^version *= *"' pyproject.toml | sed -E 's/^version *= *"(.*)"/\1/')
    - |
      if [ "$PY_PKG_VERSION" != "$CI_COMMIT_TAG" ]; then
        echo "Tag $CI_COMMIT_TAG and python package version $PY_PKG_VERSION dont match!"
        exit 1
      fi
    - pip install build==1.3.0 twine==6.2.0
    - python3 -m build
    - python3 -m twine upload dist/* -u __token__ -p $PYPI_TOKEN # skip gitlab oidc twine feature with -u and -p flags
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver